################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NewspaaperCoreGrapgQL/.vs/NewspaperCoreGrapgQL/v16/Server/sqlite3
